* {
    box-sizing: border-box;
}

body {
    margin: 20px auto;
    max-width: 700px;
    width: 80%;
    border: 20px solid #bdc3c7;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-bottom: 2px solid slategray;
}

h2 {
    font-weight: lighter;
    letter-spacing: 2px;
    color: #2c3e50;
}

.date {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #3498db;
}

.quote {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

.post {
    margin-bottom: 20px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}